/*
--text: #060605;
--background: #fdfdfc;
--primary: #9eab5f;
--secondary: #ced7a1;
--accent: #c2d275;
*/

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    background-color: #F7F7F5;
    text-align: center;
    margin : 0;
    padding: 0;
    animation: bugfix infinite 1s;
    -webkit-animation: bugfix infinite 1s;
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three columns of equal width */
}

@media (max-width: 750px) { /* Adjust the max-width as needed */
  header {
    flex-direction: column; /* Stack the sections vertically, with right section on top */
    height: auto;
  }



  /*-Menu 2-*/

  @keyframes bugfix { from {padding:0;} to {padding:0;}}
  @-webkit-keyframes bugfix { from {padding:0;} to {padding:0;}}

  #overlay-button {
    position: fixed;
    right: 1vw;
    top: 1vh;
    padding: 26px 11px;
    z-index: 5;
    cursor: pointer;
    user-select: none;
    span {
        height: 4px;
        width: 35px;
        border-radius: 2px;
        background-color: #0E0E0D;
        position: relative;
        display: block;
        transition: all .2s ease-in-out;
        &:before {
          top: -10px;
          visibility: visible;
        }
        &:after {
          top: 10px;
        }
        &:before, &:after {
            height: 4px;
            width: 35px;
            left: 0px;
            border-radius: 2px;
            background-color: #0E0E0D;
            position: absolute;
            content: "";
            transition: all .2s ease-in-out;
        }
      }
      &:hover span, &:hover span:before, &:hover span:after {
        background: #333332;
      }
  }

  input[type=checkbox] {
    display: none;

    &:checked ~ #overlay {
      visibility: visible;
    }

    &:checked ~ #overlay-button {
      &:hover span, span{
        background: transparent;
      }
      span {
        &:before {
          transform: rotate(45deg) translate(7px, 7px);
          opacity: 1;
        }
        &:after {
          transform: rotate(-45deg) translate(7px, -7px);
        }
      }
    }
}

#overlay {
  height: 100vh;
  width: 100vw;
  background: #A2A963;
  z-index: 2;
  visibility: hidden;
  position: fixed;
  &.active {
    visibility: visible;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    padding-left: 0;
    list-style-type: none;
    li {
      padding: 1em;
      a {
        color: #0E0E0D;
        text-decoration: none;
        font-size: 1.5em;
        &:hover {
          color: #F7F7F5;
        }
      }
    }
  }
}
}
/*-----------------*/



.container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 40vh; /* Adjust height as needed */
  background-color: #F7F7F5; /* Background color of the rectangle */
  border-radius: 1rem; /* Radius of corners */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  overflow: hidden; /* Ensures content stays within rounded corners */
  margin: 0 auto; /* Center the rectangle horizontally */
}


@media (max-width: 750px) { /* Adjust the max-width as needed */
  .container {
    flex-direction: column; /* Stack the sections vertically, with right section on top */
    height: auto;
  }
}

.left-section,
.right-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Add padding as needed */
  color: #fff;
}

.left-section {
  background-color: #F7F7F5; /* Background color of the left section */
}

.right-section {
  background-color: #F7F7F5; /* Background color of the right section */
}

.circle {
  position: relative;
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  background: linear-gradient(to bottom,#A2A963,#F0F7EE );
  box-shadow: 3px 3px 10px 3px #dddddd;
  overflow: hidden; /* Ensures the image stays inside the circle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-teaching {
  display: flex;
  justify-self: center;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  padding: 0;
  height: 50vh;
  overflow: hidden;
}

.pp {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1; 
}

.intro {
  margin-left: 5%;
  font-family: "Roboto", sans-serif;
  text-align: center;
  justify-self: center; 
  justify-content: center;
  overflow: hidden;
  z-index: 1; 

}


.centered-pp {
  position: absolute;
  top:0%;
  margin-right: 0;
  transform: translate(-100%);
  width: auto;
  height: auto;
  z-index: 1;
}

.hero-h1 {
  position: relative;
  margin-bottom: -0.25em;
  justify-self: start;
  text-align: left;
  color: #0E0E0D;
  font-size: 4vh;
}

.teaching-h1 {
    text-align: center;
    font-size: 32pt;
    margin-bottom: -1%;
}

.hero-p {
    position: center;
    text-align: left;
    font-size: 2vh;
    color: #0E0E0D;
}

.teaching-p {
    text-align: left;
    font-size: 20pt;
}

h2 {
    text-align: left;

}

a {
    text-decoration: none;
}

.cta {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 20px;
}

.cta span {
  padding-bottom: 7px;
  font-family: "Roboto" sans-serif;
  font-size: 20px;
  padding-right: 0px;
}


.hover-underline-animation {
  position: relative;
  color: #0E0E0D;
  padding-bottom: 20px;
  
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  bottom: 4px;
  left: 0;
  background-color: #A2A963;
  opacity: 0.4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Card */

.card {
  margin-left: auto;
  margin-right: auto;
  width: 190px;
  height: 254px;
  border-radius: 20px;
  background: #f5f5f5;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #c3c6ce;
  transition: 0.5s ease-out;
  overflow: visible;
 }
 
 .card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
 }
 
 .card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #CDD393;
  color: #0e0e0d;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
 }
 
 .text-body {
  color: rgb(134, 134, 134);
 }
 
 /*Text*/
 .text-title {
  font-size: 1.5em;
  font-weight: bold;
 }
 
 /*Hover*/
 .card:hover {
  border-color: #CDD393;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
 }
 
 .card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
 }
 
 /* BTT BUtton */

 /* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 45px;
  height: 45px;
  background: linear-gradient(#CDD673, #A2A963);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
}

.arrow path {
  fill: white;
}

.text {
  font-size: 0.7em;
  width: 100px;
  position: absolute;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -18px;
  opacity: 0;
  transition-duration: .7s;
}

.Btn:hover .text {
  opacity: 1;
  transition-duration: .7s;
}

.Btn:hover .arrow {
  animation: slide-in-bottom .7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*
<button class="Btn">
  <svg height="1.2em" class="arrow" viewBox="0 0 512 512"><path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path></svg>
<p class="text">Back to Top</p>
</button>

*/
