/*-- scss:defaults --*/

// headings
$presentation-heading-text-transform: none;

// text

.center {
    text-align: center;
  }
  
// fonts

// logo

.reveal .slide-logo {
  max-height: 5% !important;
}
